.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.chefImage {
    width:80px;
}

.header > h1 {
    font-weight: 400;
}